@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --timeline-margin: 15px;
}

.box {
    margin-top: 100px;
    margin-bottom: 100px;
    min-height: 400px;
}

.box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #1e293b;
    margin: -1.5rem;
    top: -75px;
    clip-path: polygon(100% 100%, 0 0, 0 100%);
}

.box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #1e293b;
    margin: -1.5rem;
    top: calc(100% + 23px);
    clip-path: polygon(100% 100%, 100% 0, 0 0);
}
